/* assets/css/main.css */

body {
  font-family: 'Eras ITC', sans-serif; /* Asegúrate de que esta fuente esté disponible a través de tus módulos */
}

h1 {
  color: rgb(255, 0, 255); /* Magenta */
}

h2 {
  color: rgb(0, 145, 255); /* Azul */
}

h3 {
  color: rgb(255, 216, 0); /* Amarillo */
}